


.nav {
    width: 110px;
  }
  
  .nav div {
    
    padding: 20px;
    background-color: rgb(208, 203, 228);
    border-radius: 2px;

    
  }

     
      
  

  .item {
    display: inline-block;
    height: 100px;
    
  } 

  div a {
    color: black;
    text-decoration: none;
  }

  .active {
    color: rgb(202, 13, 13);
  }